.todo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}


.caja {
    height: 210px;
    width: 1050px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe,
    -15px -10px 20px #ffffff;
    font-weight: 600;
    margin-left: 45px;
    flex-basis: 15%;
    margin-bottom: 60px;
    text-align: center;
    
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
    
}
.caja:hover {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    transform: scale(1.05);
   }

   .imagen{
    position: relative;
    height: 50px;
    width: 100px;
    display: flex;
    left: 20%;
    justify-content: center;
    align-items: center;
    background-color: #8f8c8c;
    border-radius: 10px;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;

    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.4);
    

   }
   .imagen:hover {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    transform: scale(1.05);
   }


